log
*.gz
IR_OpenFOAM/**/postProcessing/
*~
IR_OpenFOAM/**/processor*
![0-9]*
![0-9]*.[0-9]*
!0.org
*.emsh
IR_OpenFOAM/**/constant/polyMesh/
!constant/polyMesh/blockMeshDict
IR_OpenFOAM/**/constant/cellToRegion/
IR_OpenFOAM/**/constant/extendFeatureEdgeMesh/
*.OpenFoam
*.foam
